@font-face {
  font-family: mochifont;
  src: url("/Ligo.ttf");
}
.openvaultview{
    background-color: black;
}
.openvault-input{
    --vaadin-input-field-background: tansparent;
    --vaadin-input-field-hover-highlight: transparent;
    --vaadin-input-field-invalid-hover-highlight: purple;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: gray;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
    text-algin: center;
}
.mochi-notification::part(overlay){
    background-color: black;
    color: white;
    font-family: mochifont;
    border-style: solid;
    border-radius: 10px;
}
.vaultview{
    background-color: black;
    color: white;
    overflow: hidden;
}
.createvaultwindow{
    background: linear-gradient(-45deg, #eeaeca,#94bbe9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: mochifont;
    color: white;
    overflow: visible;
    border-radius: 10px;
    width: 100vw;
}
.mochi-note-view{
    background-color: black;
    color: white;
}
.mochi-note-view H6{
    color: white;
    font-family: mochifont;
}
.mochi-note-view H1{
    color: white;
    font-family: mochifont;
}
.openvaultview-upload{
    --lumo-primary-color:black;
    font-family: mochifont;
    color: black;
}
.mochi-button-dark{
    background-color: black;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: mochifont;
    border-radius: 25px;
    color: white;
}
.mochi-button-bright{
    background-color: white;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: mochifont;
    border-radius: 25px;
    color: black;
}
.mochi-editor-button{
    background: linear-gradient(-45deg, #000000, #FFFFFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: mochifont;
    border-radius: 5px;
    margin: 25px;
    color: black;
}
.mochi-editor-input{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: mochifont;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-label-color: white;
    --vaadin-input-field-focused-label-color: purple;
    text-algin: left;
}
.focus-editor-textfield{
    --vaadin-input-field-background: tansparent;
    --vaadin-input-field-hover-highlight: transparent;
    --vaadin-input-field-invalid-hover-highlight: purple;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
}
.openvault-input-field{
    --vaadin-input-field-background: tansparent;
    --vaadin-input-field-hover-highlight: transparent;
    --vaadin-input-field-invalid-hover-highlight: purple;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
    --vaadin-input-field-value-font-size: 100px;
}
.focus-editor-titlearea{
    --vaadin-input-field-background: tansparent;
    --vaadin-input-field-hover-highlight: transparent;
    --vaadin-input-field-invalid-hover-highlight: transparent;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
    --vaadin-input-field-value-font-size: 30px;
}
.focus-editor-textarea{
    --vaadin-input-field-background: tansparent;
    --vaadin-input-field-hover-highlight-opacity: 0;
    --vaadin-input-field-invalid-hover-highlight: purple;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
}
.focus-editor-textarea:hover{
    --vaadin-input-field-background: black;
    --vaadin-input-field-hover-highlight: black;
    --vaadin-input-field-hover-highlight-opacity: 1;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
}
.mochi-header{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    font-family: mochifont;
    color: black;
    overflow: visible;
    border-radius:10px;
    --vaadin-input-field-focused-label-color: purple;
}
.mochi-header-button{
    font-family: mochifont;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
}
.mochi-button-transparent{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: mochifont;
}
.mochi-input-field{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: mochifont;
    --vaadin-input-field-value-color: black;
    --vaadin-input-field-label-color: white;
    --vaadin-input-field-focused-label-color: purple;
}
.mochi-terminal-field{
    --vaadin-input-field-background: tansparent;
    --vaadin-input-field-hover-highlight: black;
    --vaadin-input-field-hover-highlight-opacity: 0;
    --vaadin-input-field-invalid-hover-highlight: purple;
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-font-weight: 500;
    font-family:mochifont;
}
/* window styles*/
.mochi-dialog-window::part(overlay) {
    background-color: black;
    font-family: mochifont;
    color: white;
}
.mochi-dialog-window::part(backdrop) {
    background-color: black;
}
.mochi-dialog-window H2{
    color: white;
}
.mochi-dialog-window H3{
    color: white;
}
.mochi-dialog-window H6{
    color: white;
}
.mochi-dialog-window Anchor{
    color: white;
}
/* frosted background for layout creation*/
.centerlayout{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    font-size: 5rem;
}
.centerlayout H3{
    font-family: mochifont;
    color: white;
}
/* editor styles*/
.mochi-md-editor-preview{
    background: transparent;
    color: black;
    font-family: mochifont;
}

.mochi-md-editor{
    background: black;
    font-family: mochifont;
    color: white;
    overflow: hidden;
}
.mochi-vault-list::part(cell){
    background-color: black;
    border-color: black;
    font-family: mochifont;
}
.mochi-vault-list{
    background-color: black;
    border-color: black;
    font-family: mochifont;
    overflow: hidden;
}
.vaadin-grid-cell-content{
    background-color: black;
}