.openvaultview{
    background: linear-gradient(-45deg, #A91267, #2A2634, #72394D, #DAD096);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: Monospace;
    color: black;
}
.vaultview{
    background-color: black;
    color: white;
}
.createvaultwindow{
    background: linear-gradient(-45deg, #eeaeca,#94bbe9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Monospace;
    color: white;
    overflow: visible;
    border-radius:10px;
    width: 100vw;
}
.mochi-note-view{
    background-color: black;
    color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.openvaultview-upload{
    --lumo-primary-color:black;
    font-family: Monospace;
    color: black;
}
.mochi-button-bright{
    background: linear-gradient(-45deg, #2A2634, #DAD096);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Monospace;
    border-radius: 25px;
    color: black;
}
.mochi-button-dark{
    background: linear-gradient(-45deg, #000000, #FFFFFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Monospace;
    border-radius: 25px;
    color: black;
}
.mochi-editor-button{
    background: linear-gradient(-45deg, #000000, #FFFFFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Monospace;
    border-radius: 5px;
    margin: 25px;
    color: black;
}
.mochi-editor-input{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: Monospace;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-label-color: white;
    --vaadin-input-field-focused-label-color: purple;
    text-algin: left;
}
.mochi-header{
    background: linear-gradient(-45deg, #eeaeca,#94bbe9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Monospace;
    color: white;
    overflow: visible;
    border-radius:10px;
    --vaadin-input-field-focused-label-color: purple;
}
.mochi-header-button{
    font-family: Monospace;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
}
.mochi-button-transparent{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: Monospace;
}
.mochi-input-field{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: Monospace;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-label-color: white;
    --vaadin-input-field-focused-label-color: purple;
}
.mochi-terminal-field{
    background-color: transparent;
    color: black;
    font-family: Monospace;
    --vaadin-input-field-value-color: black;
    --vaadin-input-field-label-color: black;
    --vaadin-input-field-focused-label-color: purple;
}

.mochi-dialog-window::part(overlay) {
    background: linear-gradient(-45deg, #A91267, #2A2634, #72394D, #DAD096);
    --vaadin-input-field-focused-label-color: purple;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 45px;
    font-family: Monospace;
    color: white;
}
.openvaultview-rightlayout{
    background: linear-gradient(-45deg, #A91267, #2A2634, #72394D, #DAD096);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: Monospace;
    color: white;
    border-radius: 90px;
    font-size: 4rem;
    margin: 25px;
}
.openvaultview-leftlayout{
    font-size: 5rem;
}
.mochi-md-editor-preview{
    background: transparent;
    color: black;
    font-family: Monospace;
}
.mochi-md-editor{
    background: transparent;
    font-family: Monospace;
    color: black;
}
.mochi-vault-list::part(cell){
    background-color: black;
}
.vaadin-grid-cell-content{
    background-color: black;
}